# Video and Audio inputs/outputs
*.mp4
*.webm
*.avi
*.mov
*.mkv
*.flac
*.mp3
*.wav
*.m4a

# Temp files
temp_*.avi

# Directories
archive/
__pycache__/
.venv/

# System files
.DS_Store
.env

glitch_sync.py.old
